In [1]:
library(tidyverse)

── Attaching packages ────────────────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.4     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.0

── Conflicts ───────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [3]:
focus_subject <- "computing" # use a vector for multiple patterns
default_highlights <- c("focus" = "maroon", "other" = "black")
default_highlights

gender_options <- c("male-", "female-", "NotKnown-", "NA-", "NotApplicable-")


redundant_column_flags <- c("-Passes", "-percentage*", "-COMP", "-PassesUngradedCourses")

path_to_file_store <- "sta_it_402/data"

# todo - complete and include levels - 
sqa_qualification_list <- read_csv("sta_it_402/data/demographic_data/sqa_qualifications.csv", trim_ws = T) %>%
                            suppressMessages()
sqa_qualification_list

base_year <- 1986

   focus    other
"maroon"  "black"

   QualificationId    QualificationTitle                 SCQFLevel
1  Higher             Higher                             6
2  AdvancedHigher     Advanced Higher                    7
3  OrdinaryGrade      Ordinary Grade                     5
4  NewHigher          New Higher                         6
5  StandardGrade      Standard Grade                     5
6  CSYS               Certiificate of Sixth Year Studies 7
7  HigherNational     Higher National                    NA
8  HNCS               Higher National Certificate        7
9  HNDS               Higher National Diploma            8
10 HigherNationalUnit Higher National Unit               NA
11 HNPDA              Professional Development Award     6-12
12 National5          National 5                         5
13 National4          National 4                         4
14 National3          National 3                         3
15 National2          National 2                         2
16 Intermediate1      Intermediate 1                     4
17 Intermediate2      Intermediate 2                     5
   DataStartYear DataEndYear
1  1986          NA
2  2001          NA
3  1986          1994
4  2000;2015     2002;2015
5  1986          2013
6  1986          2002
7  NA            NA
8  NA            NA
9  NA            NA
10 NA            NA
11 NA            NA
12 2014          NA
13 2014          NA
14 2014          NA
15 2014          NA
16 2000          2015
17 2000          2015